<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlDao" class="study.di.oftype.dao.impl.DemoMysqlDaoImpl"></bean>
    <bean id="oracleDao" class="study.di.oftype.dao.impl.DemoOracleDaoImpl"></bean>
    <bean id="redisDao" class="study.di.oftype.dao.impl.DemoRedisDaoImpl"></bean>


</beans>